/* src/components/ProductList.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Sesuaikan agar hanya memenuhi lebar penuh */
  box-sizing: border-box;
  padding: 0 10px;
}

.productListWrapper {
  text-align: center;
  margin-bottom: 20px; /* Kurangi margin bawah jika diperlukan */
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  max-width: 1000px;
}

.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 8px;
  width: 180px;
}

.productItem img {
  max-width: 100%;
  border-radius: 8px;
}

.productItem div {
  text-align: center;
  margin-top: 10px;
}

.productItem button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.productItem button:hover {
  background-color: #0056b3;
}
